.body {
}

.nav {
	float: left;
	margin: 100px;
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.content {
	float: left;
	margin-top: 65px;
}

.image {
	
}

.each {
	margin: 5px;
}

.row {
	
}

a:link {
	text-decoration: none;
	color: #212121;
}

a:visited {
	color: #404040;
}

a:hover {
	color: red;
}